*{
    margin: 0;
    padding: 0;
    font-family: fantasy;
    font-style: italic;
    border-radius: 
}
body{
    background-color: #ecf0f1;
}
/*-----------------------------------------------*/

.menu{
    position: fixed;
    z-index: 100;
    box-shadow: -1px 34px 8px rgba(0,045,0,0.3);
    width: 100%;
    background-color: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,32353f+100 */
background: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3c5bd+1,001a47+98 */
background: #f3c5bd; /* Old browsers */
background: -moz-linear-gradient(-45deg, #f3c5bd 1%, #001a47 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #f3c5bd 1%,#001a47 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #f3c5bd 1%,#001a47 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#001a47',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */;
    color: #fff;
    height: 60px;
}
.menu #logo{
    float: left;
    height: 30px;
    padding: 15px 30px;
    font-size: 1,2em;
    line-height: 30px;
}
.menu > ul{
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
}
.menu > ul > li{
    float: left;
}
.menu-item{
    display: inline-block;
    padding: 15px 20px;
    height: 30px;
    line-height: 30px;
    color: white;
    text-decoration: none;
}
.menu-item:hover{
    background-color: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3c5bd+1,ea0052+98 */
background: #f3c5bd; /* Old browsers */
background: -moz-linear-gradient(-45deg, #f3c5bd 1%, #ea0052 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #f3c5bd 1%,#ea0052 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #f3c5bd 1%,#ea0052 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#ea0052',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/*--------------------styling sub---------------------------*/

.sub-content{
    position: absolute;
    top: 60px;
    overflow: hidden;
    background-color: #2c3e50;
    max-height: 0;
}
.sub-drop {
    padding: 0;
}
.sub-drop a{
    color: white;
    text-decoration: none;
    padding: 0;
}
.sub-drop ul{
    width: 100%;
    margin: 0;
    padding: 0;
}
.sub-drop ul li a{
    display: inline-block;
    padding: 10px 20px;
}
.sub-drop ul li:hover{
    background-color:/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3c5bd+1,ea0052+98 */
background: #f3c5bd; /* Old browsers */
background: -moz-linear-gradient(-45deg, #f3c5bd 1%, #ea0052 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #f3c5bd 1%,#ea0052 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #f3c5bd 1%,#ea0052 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#ea0052',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ 
}
/*--------------------sub-sub-menu--------------------------*/

/*--------------------controling--------------------------*/

.menu-item:focus{
    background-color: #ff0055;
}
.menu ul li:hover .sub-content{
    max-height: 400px;
    transition: max-height 1s ease-in;
    -webkit-transition: max-height 1s ease-in;
    -moz-transition: max-height 1s ease-in;
}
/* .menu-item:focus ~ .sub-content{
    max-height: 400px;
    transition: max-height 1s ease-in;
    -webkit-transition: max-height 1s ease-in;
    -moz-transition: max-height 1s ease-in;
}*/
#rmenu{
    float: right;
}

/*--------------------content-----------------------*/

.sometext {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.sometext2{
    padding: 20px 500px;
   
}

.sometext span{
    color: #e74c3c;
    font-weight: bolder;
}

#natureimg {
    text-align: center;
    padding-top: 20px;
    margin: auto;
    display: block;
}
#natureimg img{
    border: 1px solid grey;
    box-shadow: 3px 3px 30px;
    /* filter: grayscale()*/
}

